* {
  box-sizing: border-box;
}

body.body {
  background-color: #000000;
}

h5 {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

h1 {
  color: #ffffff;
  text-align: center;
}

button.board {
  padding: 0;
  width: 100%;
  padding: 20px;
  border-radius: 0;
  margin-bottom: 4px;
  font-size: 30px;
  color: #DAA520;
}

.col-md-2 {
  padding: 0;
  margin: 0;
}
