* {
  box-sizing: border-box;
}

body.body {
  background-image: url(stars.jpg);
  background-size: cover;
}

div.playbtn {
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button.play {
  font-family: 'Fascinate', cursive;
  font-size: 60px;
  border-radius: 15px;
  border: 5px solid #0000CD;
  /*height: 100px;*/
  /*width: 100px;*/
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
}

div.score {
  background-color: #0000CD;
  border: 2px solid #ffffff;
  width: 30%;
  margin: 0 auto;
}

h5 {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin: 5%;
}

p.question {
  font-size: 30px;
  text-align: center;
}

input.answer {
  width: 50%;
  display: inline-block;
}

button.board {
  padding: 0;
  width: 100%;
  padding: 20px;
  border-radius: 0;
  margin-bottom: 4px;
  font-size: 40px;
  color: #DAA520;
  background-color: #0000CD;
}

.col-md-2 {
  padding: 0;
  margin: 0;
}
