<div class="col-md-2">
  <div class="col-md-12">
    <h5>{{title}}</h5>
  </div>
  <div class="col-md-12">
    <a href="#"><h5>{{valueOne}}</h5></a>
  </div>
  <div class="col-md-12">
    <a href="#"><h5>{{valueTwo}}</h5></a>
  </div>
  <div class="col-md-12">
    <a href="#"><h5>{{valueThree}}</h5></a>
  </div>
  <div class="col-md-12">
    <a href="#"><h5>{{valueFour}}</h5></a>
  </div>
  <div class="col-md-12">
    <a href="#"><h5>{{valueFive}}</h5></a>
  </div>
  <!-- <div ng-transclude>
    <question-col question-value="{{question.data.clues.value}}"></question-col>
  </div> -->
</div>
